#include "resource.h"
#include "c/version/version.h"

ID_MP3_SMALL_BELL       MP3                     "small_bell.mp3"
#if CA2_PLATFORM_VERSION == CA2_BASIS
IDI_CCVOTAGUS_CA2_SPA   ICON                    "fluidbasis_2011_10_26.ico"
#else
IDI_CCVOTAGUS_CA2_SPA   ICON                    "ca2v_2011_04_02.ico"
#endif

